<fc-navi></fc-navi>
<main>
  <fc-banner></fc-banner>
  <section class="new-arrivals container">
    <div class="row copy mt-s">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>NEW ARRIVALS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row items">
      <div *ngFor="let product of productList" class="col-xs-12 col-sm-6 col-md-3 c
        ol-lg-3">
        <fc-product [product]="product" (onDetailClick)="viewDetail($event)" (onStarClick)="addStar($event)" (onCartClick)="addCart($event)">
        </fc-product>
      </div>
    </div>
  </section>
</main>